.input-group > .intl-tel-input.allow-dropdown {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
}

.input-group > .intl-tel-input.allow-dropdown > .flag-container {
	z-index: 4;
}

.iti-flag {
  background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/12.1.6/img/flags.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .iti-flag {
      background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/12.1.6/img/flags@2x.png");
    }
}



.g_box{
    position: relative;
    z-index: 1055;
    width: 650px;
    height: 500px;
    border: 1px solid #eee;
  
  }
  
  .header{
    width: 100%;
  }
  // }
  // .icon{
  //   display: flex;
  //   width: 60px;
  // }
  
  // label{
  //   flex-direction: column;
  //   margin: 0 4px;
  
  // }
  
  // .icon label input{
  //   display: none;
  // }
  .paymentWrap{
    text-align: center;
  }
  .paymentWrap .paymentBtnGroup{
      max-width: 800px;
    margin: auto;
    text-align: center;
  
  }
  .paymentWrap .paymentBtnGroup .paymentMethod {
      padding: 40px;
      box-shadow: none;
    position: relative;
  
  }
  .logo{
    display: none;
  }
  .paymentMethod{
    margin: 0 30px;
  }
  
  .paymentWrap .paymentBtnGroup .paymentMethod.active {
      outline: none !important;
  }
  .paymentWrap .paymentBtnGroup .paymentMethod.active .method {
  
      outline: none !important;
      box-shadow: 0px 3px 22px 0px #7b7b7b;
  }
  
  .paymentWrap .paymentBtnGroup .paymentMethod .method {
      position: absolute;
      right: 3px;
      top: 3px;
      bottom: 3px;
      left: -20px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      border: 2px solid transparent;
    transition: all 0.5s;
  
  }
  
  
  .paymentWrap .paymentBtnGroup .paymentMethod .method.orange {
      background-image: url("/../assets/image/Orangemoney.png");
  }
  
  .paymentWrap .paymentBtnGroup .paymentMethod .method.momo {
      background-image: url("/../assets/image/Orangemoney.png");
  }
  
  .paymentWrap .paymentBtnGroup .paymentMethod .method.moov {
      background-image: url("/../assets/image/moov.png");
  }
  
  .paymentWrap .paymentBtnGroup .paymentMethod .method.visa {
      background-image: url("/../assets/image/visa.png");
  }
  
  
  .paymentWrap .paymentBtnGroup .paymentMethod .method:hover {
      border-color: #ccc;
      outline: none !important;
  }
  
  .col-xs-12{
    width: 100%;
    text-align: center;
    padding-top: 30px;
  
  }
  
  label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 700;
    justify-content: center;
  }
  
  .iti{
    position: relative;
  }
  
  .iti-container{
    right: auto;
    left: 0;
  }
  
  .iti{
    box-sizing: border-box;
    padding-left: 10%;
    padding-right: 30px;
    padding-top: 10px;
  }
  
  
  .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }
  
  // ORANGE
  .help-orange {
    padding: 0 30px !important;
  
  }
  
  .help-orange .help{
    padding: 0 10%;
    text-align: justify;
    // background-color: #f5f5f5;
    // border: 1px solid #e3e3e3;
  }
  
  .help-orange .help i p{
    padding: 3px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
  }
  
  
  .validation{
    padding: 0 20%;
  }
  .g_box{
    margin-top: 10%;
  }
  .retour{
    margin-left: 5%;
    margin-top: 5%;
  }